
@import url('https://fonts.googleapis.com/css?family=Black+Ops+One&display=swap');
/*-----font-family: 'Black Ops One', cursive;------*/
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
/*-----font-family: 'Noto Sans TC', sans-serif;------*/
@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One&display=swap');
/*-----font-family: 'Alfa Slab One', cursive;------*/
@import url('https://fonts.googleapis.com/css?family=Electrolize|Righteous|Ubuntu:700');
/*-----font-family:'Ubuntu', sans-serif;------*/


/* ------------------------------ Top Background Section ----------------------------*/
hr.UnderLineB {
  border-top: 2px solid black;
  width: 60%;
}
hr.UnderLineW {
  border-top: 2px solid white;
  width: 60%;
}

div#TopicBanner {
	width: 100%;
	height: 100vh;
	text-align: center;
	background:  no-repeat linear-gradient(
	      rgba(0, 0, 0, 0.65), 
	      rgba(0, 0, 0, 0.65)
	    ), url(../assets/img/Banner/Action.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: center ;
}

.Topic {
	padding-top: 15%;
}

.Topic h1{
	font-family: 'Black Ops One', cursive;
	font-size: 80px;
	color: white;
}


.TopicText {
	font-family: 'Noto Sans TC', sans-serif;
	font-size: 26px;
	color: white;
}

.TopicButton {
	width: 7%;
}

.TopicButton:hover {
	-webkit-filter: blur(2px); /* Chrome, Safari, Opera */
    filter: blur(2px);
    width: 6%;
}

@media (max-width: 768px){

	hr.UnderLineW {
	  border-top: 2px solid white;
	  width: 90%;
	}

	.Topic {
		padding-top: 35%;
	}

	.Topic h1{
		font-family: 'Black Ops One', cursive;
		font-size: 75px;
		color: white;
	}

	.TopicText {
		font-size: 18px;
	}

	.TopicButton {
	width: 16%;
	}

	.TopicButton:hover {
		-webkit-filter: blur(2px); /* Chrome, Safari, Opera */
	    filter: blur(2px);
	    width: 15%;
	}
}

div#TopicBanner .TagSize {
	width: 65%;
}

div#TopicBanner .TagSize:hover{
	filter:blur(1px);
}

div#Translations {
	background: black;
}

/* ------------------------------ BlogLayout  ----------------------------*/
.owl-item img {
	display:inline-block;width:140px;height: 280px; padding-right: 8px;
}


/* ------------------------------ 聯署table Section ----------------------------*/
	#Signature_List {
	  font-family: 'Noto Sans TC', sans-serif;
	  border-collapse: collapse;
	  width: 100%;
	}

	#Signature_List td, #Signature_List th {
	  border: 1px solid #ddd;
	  padding: 8px;
	}

	#Signature_List tr:nth-child(even){background-color: #ddd;}

	#Signature_List tr:hover {background-color: #f2f2f2;}

	#Signature_List th {
	  padding-top: 12px;
	  padding-bottom: 12px;
	  text-align: left;
	  background-color: #000;
	  color: white;
	}

	.modal-title h1 {
		font-family: 'Noto Sans TC', sans-serif;
	}

	.modal-body p {
		font-family: 'Noto Sans TC', sans-serif;
	}


/* ------------------------------ ActionTask Layout  ----------------------------*/
div#ActionTask_Box .DateIcon {
	width: 100%;
}
div#ActionTask_Box .DateIcon:hover{
	filter:blur(1px);
}
div#ActionTask_Box .PaddingDown {
	padding-bottom: 20px;
}	

@media (max-width: 768px){
	div#ActionTask_Box .DateIcon {
	width: 100%;
	}
}

/* ------------------------------ EventDays Layout  ----------------------------*/
div#EventDays {
	background: black;
	padding-top: 30px;
}

div#EventDays h1 {
	text-align: center;
	font-family: 'Noto Sans TC', sans-serif;
	color: #fff;
	padding-bottom: 30px;
}

/* ------------------------------ BlogLayout  ----------------------------*/
.BlogLayout {
	text-align: left;
	background: #000;
}

.BlogLayout h1{
	font-family: 'Noto Sans TC', sans-serif;
	padding-top: 40px;
	padding-bottom: 40px;
	color: #FFF;
}

.BlogLayout p{
	font-family: 'Noto Sans TC', sans-serif;
	font-size: 18px;
	color: #fff;
}

.BlogLayout .BlogIcon {
	width: 70px;
	padding-right: 20px;
	padding-top: 10px;
}


