
@import url('https://fonts.googleapis.com/css?family=Black+Ops+One&display=swap');
/*-----font-family: 'Black Ops One', cursive;------*/
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
/*-----font-family: 'Noto Sans TC', sans-serif;------*/
@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One&display=swap');
/*-----font-family: 'Alfa Slab One', cursive;------*/
@import url('https://fonts.googleapis.com/css?family=Electrolize|Righteous|Ubuntu:700');
/*-----font-family:'Ubuntu', sans-serif;------*/


/* ------------------------------ Top Background Section ----------------------------*/
hr.UnderLineB {
  border-top: 2px solid black;
  width: 60%;
}
hr.UnderLineW {
  border-top: 2px solid white;
  width: 60%;
}

div#TopicBanner {
	width: 100%;
	height: 100vh;
	text-align: center;
	background:  no-repeat linear-gradient(
	      rgba(0, 0, 0, 0.65), 
	      rgba(0, 0, 0, 0.65)
	    ), url(../assets/img/Banner/Division.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: center ;
}

.Topic {
	padding-top: 15%;
}

.Topic h1{
	font-family: 'Black Ops One', cursive;
	font-size: 80px;
	color: white;
}


.TopicText {
	font-family: 'Noto Sans TC', sans-serif;
	font-size: 26px;
	color: white;
}

.TopicButton {
	width: 7%;
}

.TopicButton:hover {
	-webkit-filter: blur(2px); /* Chrome, Safari, Opera */
    filter: blur(2px);
    width: 6%;
}

@media (max-width: 768px){

	hr.UnderLineW {
	  border-top: 2px solid white;
	  width: 90%;
	}

	.Topic {
		padding-top: 35%;
	}

	.Topic h1{
		font-family: 'Black Ops One', cursive;
		font-size: 45px;
		color: white;
	}

	.TopicText {
		font-size: 18px;
	}

	.TopicButton {
	width: 16%;
	}

	.TopicButton:hover {
		-webkit-filter: blur(2px); /* Chrome, Safari, Opera */
	    filter: blur(2px);
	    width: 15%;
	}
}

div#TopicBanner .TagSize {
	width: 55%;
}

div#TopicBanner .TagSize:hover{
	filter:blur(1px);
}

div#Translations {
	background: black;
}

/* ------------------------------ FrontEnd_Tap Section ----------------------------*/

div#FrontEnd_Tap {
	padding-top: 30px;
	background: #000;
	color: #fff;
	font-family: 'Noto Sans TC', sans-serif;
}

div#FrontEnd_Intro .TagSize{
	width: 60px;
	height: 60px;
}

div#FrontEnd_Intro .TagSize:hover{
	filter:blur(1px);
}

div#FrontEnd_Intro .PaddingDown {
	padding-bottom: 20px;
}	

/* ------------------------------ BackEnd_Tap Section ----------------------------*/

div#BackEnd_Tap {
	padding-top: 30px;
	background: #000;
	color: #fff;
	font-family: 'Noto Sans TC', sans-serif;
}

div#BackEnd_Intro .TagSize{
	width: 60px;
	height: 60px;
}

div#BackEnd_Intro .TagSize:hover{
	filter:blur(1px);
}

div#BackEnd_Intro .PaddingDown {
	padding-bottom: 20px;
}	

/* ------------------------------ BlogLayout  ----------------------------*/
.BlogLayout {
	text-align: left;
	background: #000;
}

.BlogLayout h1{
	font-family: 'Noto Sans TC', sans-serif;
	color: #FFF;
}

.BlogLayout p{
	font-family: 'Noto Sans TC', sans-serif;
	font-size: 18px;
	color: #fff;
}

.BlogLayout .BlogIcon {
	width: 70px;
	padding-right: 20px;
	padding-top: 10px;
}

